@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-primary: #b91c1c;
  --color-primary-dark: #991b1b;
  --color-primary-light: #fef2f2;
  --color-dark: #0f172a;
  --color-dark-light: #1e293b;
}
